@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;600;700;800;900&display=swap');
body {
    background-color: #dff8ff;
    background-size: 100%;
}
/*MOD KEY Text Color: #81cec4*/
#resultant {
    background-color: #3a4450;
    text-align: center;
    color: #f7fefe;
    -webkit-font-smoothing: antialiased;
    font-family: 'Oswald';
    font-size: 30px;
    z-index: 1;
    padding: 10px 20px;
    top: 5px;
}