@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #dff8ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{

}

/*MOD KEY Text Color: #81cec4*/
#resultant {
    background-color: #3a4450;
    text-align: center;
    color: #f7fefe;
    -webkit-font-smoothing: antialiased;
    font-family: 'Oswald';
    font-size: 30px;
    z-index: 1;
    padding: 10px 20px;
    top: 5px;
}